<% provide :title, t("devise.edituser") %>
<h1><%= t "devise.edituser" %></h1>

<%= form_for resource, as: resource_name, url: registration_path(resource_name),
  html:{method: :put} do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> 
    <i><%= t "devise.need_current_pass" %></i>
    <%= f.password_field :current_password, autocomplete: "off", 
      class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %> 
    <i><%= t "devise.leave_blank" %></i>
    <%= f.password_field :password, autocomplete: "off",
      class: "form-control" %>
    <% if @minimum_password_length %>
      <em><%= t "devise.minimum_password_length", 
        minpasslength: @minimum_password_length %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", 
      class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t("update_profile"), class: "btn-primary" %>
  </div>
<% end %>

<%= link_to t("back"), :back %>
