<div class="row center">
  <h1><%= t "admin.users.all" %></h1>
  <h2><%= link_to t("admin.users.create_user"), new_admin_user_path %></h2>
  <div class="col-md-8 col-md-offset-2 center">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><%= sort_link @search, :name, t("search.name") %></th>
          <th><%= sort_link @search, :email,
            t("search.email") %></th>
          <th class="center"><%= t "subject.action" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
        <%= paginate @users %>
      </tbody>
    </table>
  </div>
</div>
